.lnb {
  $lnb-link-padding: 8px;

  overflow-x: auto;
  background-color: $white;

  @include no-scrollbar;

  &-list {
    @include inline-flexbox;

    height: $lnb-height-sm;
    margin-left: -#{$grid-margin};
    padding: 0 #{$grid-margin - $lnb-link-padding};
    border-bottom: 1px solid $border;
    white-space: nowrap;
  }

  &-item {
    &.is-active {
      a {
        color: $blue;
        border-color: $blue;
      }
    }
    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      height: 40px;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;
    }
  }

  @include responsive(T) {
    height: $lnb-height-md;
    overflow-x: visible;
    border-bottom: 1px solid $border;

    &-list {
      height: auto;
      padding: 0;
      margin-left: 0;
      border-bottom: 0;
    }
    &-item {
      a {
        @include text-style(14);
        height: $lnb-height-md;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}
